body{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #434455;;
    text-decoration: none;
    letter-spacing: 0.02em;
    position: relative;
}
ul{
    list-style: none;
}
:root{
    --brand-color: #434455;
    --background-brand: #FFFFFF; 
    --logo-color-web :#4D5AE5; 
    --logo-color-studio-two: #F4F4FD;
    --logo-color-studio-one: #2E2F42;
    --footer-color: #E7E9FC;
    --nav-list-header-color: #2E2F42;
    --bcd-button: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
   margin-top: 0;
   margin-bottom: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    background: #FFFFFF;
    display: flex; 
    align-items: center;
    border-bottom: 1px solid var(--bcd-button);
}
.container-logo{
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
}
.logo{
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 24px 0;
}
.logo-web{
    color: #4D5AE5;
    }
.logo-studio-two{
    color: #F4F4FD;
}
.logo-studio-one{
    color: #2E2F42;}
.nav-list{
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.5;  
    text-decoration: none;
    list-style: none;
    padding: 24px 0;
    display: flex;
    margin-top: 24px;
}
.container-nav{
    padding: 0px;
    gap: 40px;
    display: flex;
    
}
.nav-list:focus,
.nav-list:hover{
    color: #404BBF;
}

.contact-list{
    font-size: 16px;
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.5;
    list-style: none;
    display: flex;
}
.container-navigation{
    display: flex;
}
.adress-list{
    display: flex;
    padding: 0px;
    gap: 40px;
    margin-top: 24px;
}
.contact-list:focus,
.contact-list:hover{
    color: #404BBF;
}

.container-email{
width: 153px;
height: 24px;
}
.container-number{
width: 151px;
height: 24px;


}
.section-one{
    background: #2E2F42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1440px;
}
.h-one{
    letter-spacing: 0.02em;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    line-height: 1.07;
    text-align: center;
    margin-bottom: 48px;
}
.button-text{
    font-family: 'Roboto', sans-serif ;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;
}

.button-text:hover,
.button-text:focus{
    background-color: #404BBF;;
}
.section{
 padding-top: 120px;
}
.container-section-two{
    color: #434455;
    display: flex;
    gap: 24px;
}
.container-feature{
    flex-basis: calc(100%-3*24px);
}
.title-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    height: 24px;
}
.section-two-text{
    color: #434455;
    gap:  24px;
}
.section-tree{
    display: flex;
    gap: 24px;
    border: 1px solid #e7e9fc;
}
.section-three-title-two{
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}
.whatwearedoing{
    display: flex;
    gap: 24px;
    border: 1px solid #e7e9fc;

}

.section-four{
    background-color: #F4F4FD;
    color: #434455;
}
.ourteam{
    display: flex;
    gap: 24px;
}
.team{
    padding: 0px 0px 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.tom-photo,
.mark-photo,
.camila-photo,
.daniel-photo{
    width: 264px;
    height: 260px;
    padding-top: 0px;
}
.section-four-title-two{
    height: 40px;
   font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
}
.section-four-title-three{
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    width: 232px;
    text-align: center;
}
.section-four-title-three{
    text-align: center;
}

.section-four-container{
    padding: 0px;
}
.text-mark{
    width: 128px;
    height: 24px;
    text-align: center;
}
.text-tom{
    width: 144px;
    height: 24px;
    text-align: center;
}
.text-camila{
    width: 75px;
    height: 24px;
    text-align: center;
}
.text-daniel{
    width: 85px;
    height: 24px;
    text-align: center;
}
.footer{
    background-color: #2E2F42;
    color: #E7E9FC;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.container-footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-footer{
    display: flex;
    padding: 0px;
}
.footer-text{
    padding-top: 16px;
    width: 264px;
    height: 72px;
}
