body{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #434455;;
    text-decoration: none;
    letter-spacing: 0.02em;
    position: relative;
    width: 1158px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
:root{
    --brand-color: #434455;
    --background-brand: #FFFFFF; 
    --logo-color-web :#4D5AE5; 
    --logo-color-studio-two: #F4F4FD;
    --logo-color-studio-one: #2E2F42;
    --footer-color: #E7E9FC;
    --nav-list-header-color: #2E2F42;
    --bcd-button: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
   margin-top: 0;
   margin-bottom: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 24px 0;
}
.logo-web{
    color: #4D5AE5;
    }
.logo-studio-two{
    color: #F4F4FD;
}
.logo-studio-one{
    color: #2E2F42;}
.nav-list{
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.5;  
    text-decoration: none;
    list-style: none;
    padding: 24px 0;
    display: flex;
    gap: 40px;
}
.container-nav{
    padding: 0px;
    gap: 40px;
    display: flex;
    padding-left: 76px;
    padding-right: 332px;
}
.nav-list:focus,
.nav-list:hover{
    color: #404BBF;
}

.contact-list{
    font-size: 16px;
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.5;
    list-style: none;
    display: flex;
}
.container-navigation{
    display: flex;
}
.adress-list{
    display: flex;
    padding: 0px;
    gap: 40px;

}
.contact-list:focus,
.contact-list:hover{
    color: #404BBF;
}

.container-email{
width: 153px;
height: 24px;
}
.container-number{
width: 151px;
height: 24px;


}
.button{
            background: #F4F4FD;
            font-family: 'Roboto', sans-serif ;
            font-weight: 500;
            color: #4D5AE5;
            line-height: 1.5;
            font-size: 16px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 116px;
            background: #F4F4FD;
            border: 1px solid #E7E9FC;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 96px ;
            padding: 12px 24px;
            margin-bottom: 72px;
          

            
        }
        .button:hover,
        .button:focus{
            background: #404BBF;
            cursor: pointer;
            font-weight: 500;
            color: #FFFFFF;
        }
        .container-button{
            display: flex;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
            justify-content: center;
            margin: 0 auto;
            width: 69px;
        }
        .examples{
            margin: 0 156px ;
        }
        .examples-one{
            display: flex;
            margin-bottom: 48px;
            gap: 24px;
        }
        .examples-two{
            display: flex;
            margin-bottom: 48px;
            gap: 24px;
        }
        .examples-three{
            display: flex;
            padding-bottom: 120px;
            gap: 24px;
        }
        .title-three{
            font-weight: 500;
            font-size: 20px;
            color: #2E2F42;
            letter-spacing: 0.02em;
            line-height: 1.2;
            margin-bottom: 8px;
            margin-top: 32px;
            margin-left: 16px;
        }
        .example-text{
            color: #434455;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin-bottom: 32px;
            margin-left: 16px;
        }    
        .examples-card{
            
            box-sizing: border-box;
            background: #FFFFFF;
            border: 1px solid #E7E9FC;
            width: 360px;
        }
        
        .footer{
            background-color: #2E2F42;
            color: #E7E9FC;
            letter-spacing: 0.02em;
            line-height: 1.5;
            padding: 100px 0;
        }
        .container-footer{
            width: 264px;
            height: 72px;
        }
        
        .footer-text{
            padding-top: 16px;
        
        }
        